/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img{
    height: 19px;
    width: 61px;
    top: 30px;
    left: 50px;
}

.menu ul{
    display: flex;
    gap: 68px;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: black;
    width: 63px;
    height: 19px;
    top:16px;
    left: 181px;
    cursor: default;
   }

.menu ul li {
    position: relative;
}

.menu li a:first-child{
    width: 112px;
    height: 35px;
}

.menu li a:hover{
    color: #0065FC;
}

.menu ul li a::before {
    content: ""; 
    position: absolute;
    top: -5px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #0065FC; 
    transform: scaleX(0); 
}

.menu ul li a:hover::before {
    transform: scaleX(1);
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


/*barre de recherche*/
.search {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    width: 377px;
    height: 49px;
}

.search i#place {
    background-color: #F2F2F2;
    padding: 16px;
    color: black;   
    width: 14px;
    height: 18px;
}

.search input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
    font-size: 18px;
}

.search button {
    background-color: #0065FC;
    color: white;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    height: 49px;
    width: 132px;
}

.search ::placeholder{
    font-weight: bold;
    color: black;
}

/*filtre*/
.filter{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter h3{
    margin-right: 15px;
    color: black;
}

.btn-group a{
    display: flex;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 19px;
    padding-left: 19px;
    border: 2px solid #F2F2F2;
    align-items: center;
    gap: 6px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
}

.btn-group  i {
    color: #0065FC;;
}

.btn-group  a:hover{
    background-color: #DEEBFF;
    cursor: default;
}

/*nb logements*/

.container-info {
    display: flex;
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap; 
    max-width: 100%;
}

.texte-logement {
    flex: 1; 
    min-width: 200px;
    word-wrap: break-word;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*hebergement */

.hebergements {
    width: 65%;
}

.hebergement-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 15px;
    gap: 15px;
}


.hebergement-card img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-subtitle {
    margin-bottom: 5px; 
}

p.card-subtitle {
    font-weight: normal;
}

.hebergement-card .card-title{
    margin-top: 10px;
    font-size: 16px;
}

.hebergement-card a{
    margin-top: 25px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}



.hebergement-card .card-rating {
    margin-bottom: 5px;
}

/*les 2 */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));  
}

.card img {
    object-fit: cover;

}

.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/*activité*/

.activite-card .card{
    margin-top: 20px;
}

.activites{
    padding: 30px;
    cursor: pointer;
}

.activites h2{
    margin-bottom: 20px;
}

.activites .activite-card  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
}

.activites .card-header img{
    height: 380px;
    width: 297px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.card-title-activite{
    white-space: nowrap;
    margin-left: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.activite-card .card{
    padding: 0;
    flex-direction: column;
    overflow: hidden;
}


/*footer*/


footer{
    padding: 20px;
    gap : 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul{
list-style:none;
}

footer a{
    line-height: 30px;
}

footer ul{
    padding-left: 0;
}

footer nav{
    width: 30%;
    min-width: 200px;
}


@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /*hebergements*/

    .hebergements {
        width: 100%;
    }

    .hebergement-card{
        grid-template-columns: repeat(3, 1fr);
    }

    /*hebergement populaire */

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*activité*/

    .activite-card a{
        margin-bottom: 20px;
    }

    /*filtres*/

    .filter{
        width: 100%;
        display: inline;
    }

    .filter h3{
        margin-top: 20px;
        width: 100%;
    }

    /*activité*/

    .activites .card-header img {
        width: 100%;
        height: 200px;
    }
    
    .activite-card .card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    
    .card-title-activite {
        font-size: 18px;
        white-space: normal;
        word-wrap: break-word;
    }

}

/* Small devices (phones, less than 768px) */
@media (min-width : 320px) and (max-width: 767.98px){

    body{
        margin: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    section.populaires{
        border-radius: 0px;
        margin-top: 30px;
    }

    .hebergements {
        width: 100%;
    }

    div.main-container{
        margin:0px;
        padding: 0px;
    }

  
    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergement-card{
        display: flex;
        flex-direction: column;
    }

    .hebergement-card a{
        width: 100%;
    }
   
    .hebergement-card img{
        width: 100%;
    }

    .recherche{
        padding: 20px;
    }

    /*nb logement */

    .container-info {
        align-items: center; 
    }

    .btn-info {
        display: flex;
        align-items: center; 
    }

    /*class recherche*/
    .recherche{
        padding: 20px;
    }

    .btn-group a {
        width: calc(50% - 48px);
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 28px;
        padding-left: 10px;
    }

    /*barre recherche */

    .search{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .search input {
        width: 100%; 
    }
    
    .search .btn{
       display: none ;
    }
   
    .search .btn-loupe i{
        color: white;
        font-size: 17px; 
        position: absolute; 
    }
    
    .search button{
        width: 49px;
        border-radius: 15px;
        display: flex;
        align-items: center; 
    }
   

    /*trouver hebergement*/
    .recherche{
        margin-top: -50px;
    }

    .find-a-house-subtitle {
        max-width: 100%; 
        display: block; 
    }
    
    p.find-a-house-subtitle {
        width: 335px;
        overflow-wrap: break-word; 
        word-wrap: break-word; 
        white-space: normal;
    }


    /*logo*/
    
    header img{
        margin-top: -70px;
        transform: scale(1.5);
    }
        
    header{
        display: flex;
        flex-direction: column;       
        padding: 0px;
    }

    .logo{
        padding-top: 30px;
    }

    .menu-container{
        width: 100%;
        margin-bottom: 35px;

    }
    
    /* Menu */

    .menu ul{
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 0px;
        text-align: center;
        margin-top: 5px;
    }

    .menu li{
        border-bottom: 3px solid #F2F2F2;
        transition: border-color 0.3s ease-in-out;
        color: black;
        padding-bottom: 10px;
        margin: 0;
        width: 50%;
    }

    nav.menu ul li {
        margin-top: 50px; 
        position: relative;
    }

    .menu li:hover{
        color: #0065FC;
        padding-bottom: 10px;
        border-bottom: 3px solid #0065FC;
    }
    
    .menu ul li a:hover::before {
        transform: scale(0);
    }

    /*activité*/
    .activites .activite-card{
        display: flex;
        flex-direction: column;
    }
    
    /*footer*/

  footer{
        display: flex;
        flex-direction: column;
    }
}